<!-- Header -->
<div style="padding-top: 5%" class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">{{ bc_title ?? '' }}
                        {% if title_on_show is defined %}
                            {{ title_on_show }}
                        {% endif %}
                    </h6>
                </div>
                {% if path_link is defined %}
                    <div class="col-lg-6 col-5 text-right">
                        <a href="{{ path_link }}" class="btn btn-sm btn-neutral">{{ title_link }}</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>