{{ form_start(form) }}
<div class="row">
    <div class="col">
        {{ form_widget(form) }}
    </div>
    <input type="hidden" id="task-selected" value="" name="task_selected[]"/>
    <div class="col">
        <div class="form-group">
            <label class="form-control-label"
                   for="example3cols1Input">Attribué à
            </label>
            <select name="user_id" required
                    class="form-control basic-data-select2">
            </select>
        </div>
    </div>
</div>
<br>
<button class="btn">{{ button_label|default('Enregistrer') }}</button>

{{ form_end(form) }}
