{% extends "base.html.twig" %}

{% set or_link = true %}

{% block body %}
    {% include 'partials/header.html.twig' with
        {
            bc_title : 'Ajouter une OR'|trans,
            path_link : path('ordre_route_index') ,
            title_link : 'return'|trans ,
        } %}
    <!-- Page content -->
    <!-- Page content -->
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col">
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header border-0">
                        {{ include('ordre_route/_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $('#ordre_route_dateDebutMission').attr('type','datetime-local');
        $('#ordre_route_dateFinMission').attr('type','datetime-local');
        $('#ordre_route_dateOr').attr('type','date');
    </script>
    <script src="{{ asset('js/ordre.route.js') }}"></script>
{% endblock %}
