{% extends 'base.html.twig' %}

{% block title %}{{ 'dashboard'|trans }}{% endblock %}

{% set dashboard_link = true %}

{% block body %}
    {% include 'partials/header.html.twig' with
        {
            bc_title : 'dashboard'|trans
        } %}
    <!-- Page content -->
    {#<div class="container-fluid mt--6">#}
        {#<div class="row">#}
            {#<div class="col">#}
                {#<div class="card">#}
                    {#<!-- Card header -->#}
                    {#<div class="card-header border-0">#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}

{% endblock %}
